<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="images/logo.png">
    <meta name="description" content="Free, modern and nice web template for Minecraft server.">
    <meta name="author" content="Astronawta">

    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/pages/home.css">

    <title>Home | System Bot</title>
</head>
<body>
    <!--Navbar-->
    <div class="navbar">
        <div class="menu-mobile">
            <a href="/">
                <div class="logo">
                    <img src="img/logo.png" alt="Server logo" class="logo-img">
                    <h3 class="server-name">ExampleName</h3>
                </div>
            </a>
            <div class="hamburger">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="links">
            <a href="/" class="link active">Home</a>
            <a href="/news" class="link">News</a>
            <a href="/commands" class="link">Commands</a>
            <div class="dropdown">
                <a href="/stats" class="link dropdown-toggle" id="commandsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Stats</a>
                <div class="dropdown-menu" aria-labelledby="commandsDropdown">
                    <a class="dropdown-item" href="/performance">Performance</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="/about" class="link dropdown-toggle" id="statsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
                <div class="dropdown-menu" aria-labelledby="statsDropdown">
                    <a class="dropdown-item" href="/team">Team</a>
                    <a class="dropdown-item" href="/contact">Contact</a>
                </div>
            </div>
            <a href="/help-panel" class="link">Support</a>
            <a href="/callback" class="link">Login with Discord</a>
            <div class="dropdown">
                <a href="/help-panel" class="link dropdown-toggle" id="statsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dashboard</a>
                <div class="dropdown-menu" aria-labelledby="statsDropdown">
                    <a class="dropdown-item" href="/profile">Profile</a>
                    <a class="dropdown-item" href="/profile/settings">Settings</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!--Header-->
    <section id="header">
        <div class="content">
            <div class="left">
                <div class="server-name">
                    <p>Management Discord Bot</p>
                    <h1 class="minecraft-server-ip">mc.example.com</h1>
                </div>
                <p class="server-description">
                    The only one discord bot wich have every feature for free without an need payment or any other pay things.
                    <br><br>Invite and customize your server!
                </p>
                <div class="buttons">
                    <button class="copy-ip">Copy IP</button>
                    <a href="#about"><button class="how-to-join">Show more</button></a>
                </div>
                <p class="ip-copied">IP was successfully copied!</p>
            </div>
            <div class="right">
                <img src="img/logo.png" alt="Server logo" class="logo-img logo-img-header">
                <div class="stats">
                    <div class="stat">
                        <div class="icon">
                            <i class="fa-brands fa-discord"></i>
                        </div>
                        <div class="texts">
                            <h5 class="stat-title">Discord server</h5>
                            <p><span class="stat-number discord-online-users">None</span> users online</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Mini games-->
    <section id="minigames">
        <div class="content miniGames-list">
            <div class="game">
                <iframe src="https://www.twitch.tv/vectode" frameborder="0" scrolling="no" height="300" width="400"></iframe>
                <div class="info">
                    <h2 class="section-title">Twitch</h2>
                    <div class="game-description">
                        <p>Lörem ipsum tosk nedust hemiktigt ifall hubot, och haför. Vagt antevynat. Antivaxxare krana: liksom monoktigt ide i ubel. Mikroktig dovis preliga, ogt. Dihagen säs såvis nun. Dra åt helvete-kapital sana </p>
                        <ul class="services">
                            <li class="service">Economy</li>
                            <li class="service">SlimeFun</li>
                            <li class="service">Player Warps</li>
                            <li class="service">and more</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="game">
                <iframe width="400" height="300" src="https://youtu.be/mfiTotHUInM?si=MRvYrbyZYLGHBV_d" frameborder="0" allowfullscreen></iframe>
                <div class="info">
                    <h2 class="section-title">YouTube</h2>
                    <div class="game-description">
                        <p>Lörem ipsum tosk nedust hemiktigt ifall hubot, och haför. Vagt antevynat. Antivaxxare krana: liksom monoktigt ide i ubel. Mikroktig dovis preliga, ogt. Dihagen säs såvis nun. Dra åt helvete-kapital sana </p>
                        <ul class="services">
                            <li class="service">Economy</li>
                            <li class="service">SlimeFun</li>
                            <li class="service">Player Warps</li>
                            <li class="service">and more</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Discord-->
    <section id="discord">
        <div class="content">
            <h2 class="section-title">Have a <span>problem</span> or want to get in touch with others? <br> Join our <span>Discord!</span></h2>
            <a href="#" class="discord-link"><button class="join-discord">Join Discord</button></a>
        </div>
    </section>

    <section class="reviews">
        <h2 class="review-title">Reviews</h2>
        <div class="review-slider">
            <div class="reviewer">
                <p class="reviewer-text">Der Discord Bot ist fantastisch und er bietet alles was man benötigt um einen Discord Server komplett ein zu richten.</p>
                <img class="reviewer-image" src="img/reviews.png" alt="Reviewer Picture">
                <h5 class="reviewer-name">John Doe</h5>
                <p class="reviewer-job">Social Media Agent</p>
            </div>
            <div class="reviewer">
                <p class="reviewer-text">Der Discord Bot ist fantastisch und er bietet alles was man benötigt um einen Discord Server komplett ein zu richten.</p>
                <img class="reviewer-image" src="img/reviews.png" alt="Reviewer Picture">
                <h5 class="reviewer-name">Knabi Croßa</h5>
                <p class="reviewer-job">Developer</p>
            </div>
            <div class="reviewer">
                <p class="reviewer-text">Der Discord Bot ist fantastisch und er bietet alles was man benötigt um einen Discord Server komplett ein zu richten.</p>
                <img class="reviewer-image" src="img/reviews.png" alt="Reviewer Picture">
                <h5 class="reviewer-name">Leon Rusky</h5>
                <p class="reviewer-job">CEO | DICG Holding</p>
            </div>
            <div class="reviewer">
                <p class="reviewer-text">Der Discord Bot ist fantastisch und er bietet alles was man benötigt um einen Discord Server komplett ein zu richten.</p>
                <img class="reviewer-image" src="img/reviews.png" alt="Reviewer Picture">
                <h5 class="reviewer-name">Tim Hauke</h5>
                <p class="reviewer-job">CMO | DICG Holding</p>
            </div>
        </div>
    </section>

    <!--Discord-->
    <section id="discord">
        <div class="content">
            <h2 class="section-title">Have a <span>problem</span> or want to get in touch with others? <br> Join our <span>Discord!</span></h2>
            <a href="#" class="discord-link"><button class="join-discord">Join Discord</button></a>
        </div>
    </section>

    <!--FAQs-->
    <section id="faq">
        <div class="content">
            <div class="info">
                <h2 class="section-title">Server <span>FAQs.</span></h2>
                <p class="section-description">Lörem ipsum tosk nedust hemiktigt ifall hubot, och haför. Vagt antevynat. Antivaxxare krana: liksom monoktigt ide i ubel. Mikroktig dovis preliga, ogt. Dihagen säs såvis nun. Dra åt helvete</p>
            </div>
            <div class="accordion faqList">
                <div class="accordion-item">
                    <div class="accordion-item-header">
                        Lörem ipsum pongar valig pede, tisade. Tilåskapet decijål ifall sar pure?
                    </div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            Lörem ipsum pongar valig pede, tisade. Tilåskapet decijål ifall sar pure. Klittra tidögt och soment, viradade utivis. Sebina hedersvåld profavis. Hurade gon vimöde. Lörem Sebina hedersvåld profavis. Hurade gon vimöde. LöremSebina hedersvåld profavis. Hurade gon vimöde. LöremSebina hedersvåld profavis. Hurade gon vimöde. LöremSebina hedersvåld profavis. Hurade gon vimöde. Lörem
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">
                        Lörem ipsum pongar valig pede, tisade. Tilåskapet decijål ifall sar pure?
                    </div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            Lörem ipsum pongar valig pede, tisade. Tilåskapet decijål ifall sar pure. Klittra tidögt och soment, viradade utivis. Sebina hedersvåld profavis. Hurade gon vimöde. Lörem Sebina hedersvåld profavis. Hurade gon vimöde. LöremSebina hedersvåld profavis. Hurade gon vimöde. LöremSebina hedersvåld profavis. Hurade gon vimöde. LöremSebina hedersvåld profavis. Hurade gon vimöde. Lörem
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">
                        Lörem ipsum pongar valig pede, tisade. Tilåskapet decijål ifall sar pure?
                    </div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            Lörem ipsum pongar valig pede, tisade. Tilåskapet decijål ifall sar pure. Klittra tidögt och soment, viradade utivis. Sebina hedersvåld profavis. Hurade gon vimöde. Lörem Sebina hedersvåld profavis. Hurade gon vimöde. LöremSebina hedersvåld profavis. Hurade gon vimöde. LöremSebina hedersvåld profavis. Hurade gon vimöde. LöremSebina hedersvåld profavis. Hurade gon vimöde. Lörem
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">
                        Lörem ipsum pongar valig pede, tisade. Tilåskapet decijål ifall sar pure?
                    </div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            Lörem ipsum pongar valig pede, tisade. Tilåskapet decijål ifall sar pure. Klittra tidögt och soment, viradade utivis. Sebina hedersvåld profavis. Hurade gon vimöde. Lörem Sebina hedersvåld profavis. Hurade gon vimöde. LöremSebina hedersvåld profavis. Hurade gon vimöde. LöremSebina hedersvåld profavis. Hurade gon vimöde. LöremSebina hedersvåld profavis. Hurade gon vimöde. Lörem
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Footer-->
    <%- include('partials/footer') %>
</body>
<script src="js/script.js"></script>
<script src="https://kit.fontawesome.com/cbf5ee59c8.js" crossorigin="anonymous"></script>
</html>