<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/style.css" />
        <link rel="stylesheet" type="text/css" href="../css/api.css" />
        <link rel="stylesheet" type="text/css" href="../css/footer.css" />
        <title>API | System Bot</title>
    </head>
    <body>
        <div class="header">
            <img src="../img/api-background.png" alt="API Background">
            <h1>API | System Bot</h1>
        </div>
        <section class="section">
            <div>
                <h2>System Bot API</h2>
                <p>The System Bot API is used to interact with the System Bot.</p>
            </div>
            <div>
                <h2>System Bot API Documentation</h2>
                <ul>
                    <li><a href="../api/index.html">API Documentation</a></li>
                    <li><a href="../api/files.html">Files</a></li>
                    <li><a href="../api/functions.html">Functions</a></li>
                </ul>
            </div>
            <div>
                <h2>System Bot API Examples</h2>
                <ul>
                    <li><a href="../examples/index.html">Examples</a></li>
                </ul>
            </div>
        </section>
        <section class="events-section">
            <h1>Events</h1>
            <div>
                <h2>-> channelCreate</h2>
                <h2>-> channelDelete</h2>
                <h2>-> channelUpdate</h2>
                <h2>-> guildMemberAdd</h2>
                <h2>-> guildMemberRemove</h2>
                <h2>-> interactionCreate</h2>
                <h2>-> interactionDelete</h2>
                <h2>-> messageCreate</h2>
                <h2>-> messageDelete</h2>
                <h2>-> messageUpdate</h2>
                <h2>-> ready</h2>
            </div>
        </section>
        <%- include('../partials/footer') %>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        
    </script>
</html>